{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

    <div class="hero text-center">

        <h1>🏕 Sewaku</h1>

        <h4>Sewa Alat Outdoor Jadi Lebih Mudah</h4>

        <p>
            Temukan tenda, carrier, sleeping bag, kompor, dan perlengkapan camping lainnya.
        </p>

        <button class="btn btn-light btn-lg">
            Mulai Sewa
        </button>

    </div>

</div>

<div class="container mt-5">

<div class="row">

<div class="col-md-3">

<div class="card category-card">

<div class="card-body text-center">

🏕

<h5>Tenda</h5>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card category-card">

<div class="card-body text-center">

🎒

<h5>Carrier</h5>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card category-card">

<div class="card-body text-center">

🔥

<h5>Kompor</h5>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card category-card">

<div class="card-body text-center">

🛏

<h5>Sleeping Bag</h5>

</div>

</div>

</div>

</div>

</div>

{% endblock %}